---
const pageTitle = "DOODOO ASS";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/blog/">Blog</a>
            <h1>{pageTitle}</h1>
            <h2>THIS IS ONLY A TEST. BURP! GURGLE!</h2>

	</body>
	<style>
		a {
			color: #c56981;
			text-decoration: none;
		}
		body {
			background-color: #282328;
			color: #BAB9B1;
		}
		h1 {
			text-align: center;
		}
		img {
			image-rendering: pixelated;
			image-rendering: crisp-edges;
			display: block;
			margin: 0 auto;
			align-items: center;
		}
		</style>
</html>
