---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>TWIRLIN' CURTIS' HELL ZONE</h1>
		<img src="/src/pages/chompers.gif" alt="Chompers" width="600" />
	</body>
	<style>
		body {
			background-color: #282328;
			color: #DDDDD7;
		}
		h1 {
			text-align: center;
		}
		img {
			image-rendering: pixelated;
			image-rendering: crisp-edges;
			display: block;
			margin: 0 auto;
			align-items: center;
		}
		</style>
</html>
